@charset "utf-8";

:root{
    --red:#AF0049;
    --grey:#947A8A;
}

*{
    transform-origin:top left;
}

html{
    font-size:62.5%;
}

body,
html{
    height:100%;
    overflow:hidden;
}

body{
    font-family:'Raleway', sans-serif;
    font-weight:300;
    box-sizing:border-box;
    margin:0;
    width:100%;
    height:100vh;
    position:relative;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.ralewayMd{
    font-family:'Raleway', sans-serif;
    font-weight:500;
}

.ralewayLt{
    font-family:'Raleway', sans-serif;
    font-weight:200;
}




/*********  Main Menu  ************/
main{
    width:650px;
    height:2000px;
    margin:40vh 50% 0;
    position:relative;
    right:325px;
    transform-origin:top center;


    --lineThickness:2px;
}

.menu-wrapper{
    height:770px;
    margin-left:-50px;
    transform:rotate(-30deg);
    overflow:hidden;
}

@keyframes margin-left-slideIn{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:0%;
    }
}

.menu-header{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease;
    animation-duration:0.9s;
    width:100%;
    font-size:100px;
    line-height:68.6px;
    margin:0;
    padding-top:10px;
    border-bottom:4px solid black;
}

.menu-header > span{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease;
    animation-duration:1.3s;
    animation-delay:0.3s;
    animation-fill-mode:forwards;
    margin-left:-100%;
    padding-left:35px;

    white-space:nowrap;
}

.menu{
    font-size:60px;
    line-height:110px;
    text-transform:lowercase;
    width:560px;
    margin-top:0;
    margin-left:610px;
    padding:0;
    transform:rotate(90deg);
    overflow:hidden;

    /* timing delay variables */
    --delaySpread: 0.25s;
    --delay1: 0.6s;
    --delay2:0.85s;
    --delay3:1.1s;
    --delay4:1.35s;
    /***  calc with variables not working in mobile firefox for some reason ***/
    /*--delay2: calc(var(--delay1) + var(--delaySpread));
    --delay3: calc(var(--delay2) + var(--delaySpread));
    --delay4: calc(var(--delay3) + var(--delaySpread));*/
}

.menu li{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease-in-out;
    animation-duration:0.8s;
    animation-delay:var(--delay1);
    animation-fill-mode:forwards;

    width:100%;
    height:110px;
    box-sizing:border-box;
    margin-left:100%;
    border-bottom:2px solid var(--grey);

    white-space:nowrap;

    cursor:pointer;
}

.menu > li:nth-child(2),
.menu > li:nth-child(2) a{
    animation-delay:var(--delay2);
}


.menu > li:nth-child(3),
.menu > li:nth-child(3) a{
    animation-delay:var(--delay3);
}


.menu > li:nth-child(4),
.menu > li:nth-child(4) a{
    animation-delay:var(--delay4);
}


.menu a{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease-in-out;
    animation-duration:1.5s;
    animation-delay:var(--delay1);
    animation-fill-mode:forwards;

    color:var(--red);

    /*background:linear-gradient(to right, #947A8A, transparent 15%);*/
    background:linear-gradient(to right, #f5d7d7, #ffffff);
    background-position-x:-560px;
    background-repeat:no-repeat;

    width:100%;
    height:100%;
    display:block;

    transition-duration:0.3s;
    transition-timing-function:ease-out;

    cursor:pointer;
}

.menu a:hover{
    background-position-x:0px;
}

.menu a span{
    display:inline-block;
    padding:33px 0 0 20px;
}



@keyframes line-slideUp{
    0%{
        top:100%;
    }
    100%{
        top:0%;
    }
}

@keyframes line-slideRight{
    0%{
        right:100%;
    }
    100%{
        right:0%;
    }
}

@keyframes line-slideDown{
    0%{
        bottom:100%;
    }
    100%{
        bottom:0%;
    }
}

@keyframes line-slideLeft{
    0%{
        left:100%;
    }
    100%{
        left:0%;
    }
}

.lines-wrapper{
    width:2160px;
    height:2070px;
    margin:auto;
    position:relative;
    top:-1730px;
    left:-630px;
    transform:rotate(-30deg);
    transform-origin:center;
    z-index:-1;

    --lines-duration:3.5s;
    --lines-delay:1.4s;
}

.lines{
    box-sizing:border-box;
    position:absolute;
    z-index:-1;
    overflow:hidden;
}

.line-inside{
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:0px solid var(--grey);
    position:relative;
}

.line-top .line-inside{
    border-top-width:var(--lineThickness);
}

.line-left .line-inside{
    border-left-width:var(--lineThickness);
}

.line-bottom .line-inside{
    border-bottom-width:var(--lineThickness);
}

.line-right .line-inside{
    border-right-width:var(--lineThickness);
}

.line-slideUp{
    top:100%;

    animation-name:line-slideUp;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}

.line-slideRight{
    right:100%;

    animation-name:line-slideRight;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}

.line-slideDown{
    bottom:100%;

    animation-name:line-slideDown;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}

.line-slideLeft{
    left:100%;

    animation-name:line-slideLeft;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}
.lines:nth-child(3n) > div{
    animation-duration: 2.5s;
}

.lines:nth-child(4n) > div{
    animation-duration: 5s;
}

@media (max-width:1300px) and (orientation:landscape){
    main{
        transform:scale(0.67);
    }
}

@media (max-width:900px) and (orientation:portrait){
    main{
        transform:scale(0.6);
    }
}

@media (max-width:650px),
        (max-width:900px) and (orientation:landscape) {
    main{
        transform:scale(0.4);
    }
}






/*********  Portfolio Sections  ************/

.portfolio{
    /*  Default colors are game dev  */
    /*--portfolio-black:#09090E;*/
    --portfolio-black:#2c2c3b;
    --portfolio-dark:#192E5F;
    --portfolio-light:#b3b7be;
    --portfolio-white:#f4f4fa;
    --portfolio-caption:rgba(25, 47, 96, 0.902);


    background:white;
    border:1px solid var(--portfolio-light);

    width:100vw;
    height:100vh;
    box-sizing:border-box;
    position:absolute;
    top:0vh;
    left:100vw;

    transition-duration:0.8s;
    transition-timing-function: ease;

    overflow:hidden;
}

#portfolio-illustrator{
    --portfolio-black:#352c24;
    --portfolio-dark:#94320b;
    --portfolio-light:#d8bdb1;
    --portfolio-white:#fff1eb;
    --portfolio-caption:rgba(148, 50, 11, 0.902);

    top:100vh;
    left:0vw;
}

#portfolio-webDesigner{
    --portfolio-black:#2c2f3a;
    --portfolio-dark:#01545F;
    --portfolio-light:#9FB1B3;
    --portfolio-white:#eafdff;
    --portfolio-caption:rgba(1, 84, 95, 0.902);

    top:0vh;
    left:-100vw;
}

#portfolio-aboutMe{
    --portfolio-black:#352727;
    --portfolio-dark:#520029;
    --portfolio-light:#ACA4A8;
    --portfolio-white:#ffecf6;
    --portfolio-caption:rgba(82, 0, 41, 0.902);

    top:-100vh;
    left:0vw;
}

.portfolio-nav-wrapper{
    color:white;
    border-right:1px solid var(--portfolio-light);
    background:var(--portfolio-dark);
    width:26rem;
    height:100%;
    box-sizing:border-box;
    position:absolute;

    transition-duration:0.6s;
    transition-timing-function:ease;

    overflow:hidden;
}

.portfolio-nav-name{
    font-size:3.5rem;
    line-height:65%;
    width:100%;
    height:10rem;
    box-sizing:border-box;
    padding-top:7.5rem;
    padding-left:1.3rem;
    border-bottom:2px solid var(--portfolio-light);

    position:absolute;
    top:-11rem;
}

.portfolio-nav-lines{
    height:100%;
    margin-left:1.4rem;
    margin-bottom:7.5rem;
    padding-top:10rem;
    border:0 solid var(--portfolio-light);
    border-left-width:1px;
    border-bottom-width:1px;
}

.portfolio-nav{
    margin:0;
    padding-top:5rem;
    padding-left:3rem;

    transform:translateX(100%);
}

.portfolio-nav li{
    font-size:2.8rem;
    line-height:70%;
    background:linear-gradient(to right, var(--portfolio-dark), var(--portfolio-light));
    background-position-x:28rem;
    background-repeat:no-repeat;
    border-bottom:1px solid var(--portfolio-light);
    padding-top:4rem;

    transition-duration:0.3s;
    transition-timing-function: ease-out;
}

.portfolio-nav li:hover{
    background-position-x:0;
}

.portfolio-nav .btn-disabled:hover{
    background-position-x:28rem;
}

.portfolio-nav a{
    color:var(--portfolio-white);
}

.portfolio-nav .btn-disabled{
    color:var(--portfolio-light);
}


.socialLinks-wrapper{
    text-align:center;
    width:100%;
    margin-left:-100%;
    position:absolute;
    bottom:3.58rem;

}

.socialLinks{
    margin:0;
    padding:0;
}

.socialLinks li{
    margin:0.86rem;
    padding:0.5rem;
    display:inline-block;
}

.socialLinks svg{
    fill:var(--portfolio-light);
    width:3.78rem;
    height:3.78rem;
    transition-duration:0.3s;
    transition-timing-function:ease;
}

.socialLinks li:hover svg{
    fill:var(--portfolio-white);
}

.portfolio-nav-wrapper .socialLinks::after{
    content:"";
    width:120%;
    height:1px;

    display:inline-block;
    border-bottom:1px solid var(--portfolio-light);

    top:-1.3rem;
    left:-4.32rem;
    position:relative;
}


@keyframes portfolio-nav-nameSlideIn{
    0%{
        transform:translateY(0);
    }

    100%{
        transform:translateY(11rem);
    }
}

@keyframes portfolio-navSlideIn{
    0%{
        transform:translateX(100%);
    }

    100%{
        transform:translateX(0%);
    }
}

@keyframes portfolio-nav-socialLinksSlideIn{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:0%;
    }
}

.portfolio-nav-nameSlideIn{
    animation-name:portfolio-nav-nameSlideIn;
    animation-duration:0.9s;
    animation-delay:0.5s;
    animation-timing-function:ease;
    animation-fill-mode:forwards;
}

.portfolio-navSlideIn{
    animation-name:portfolio-navSlideIn;
    animation-duration:0.6s;
    animation-delay:0.4s;
    animation-timing-function:ease;
    animation-fill-mode:forwards;
}

.portfolio-nav-socialLinksSlideIn{
    animation-name:portfolio-nav-socialLinksSlideIn;
    animation-duration:0.9s;
    animation-delay:0.5s;
    animation-timing-function:ease;
    animation-fill-mode:forwards;
}

.portfolio-main{
    height:100vh;
    margin-left:28rem;
    border-left:1px solid var(--portfolio-light);
    box-sizing:border-box;


    overflow-y:scroll;
}

.btn-hamburger{
    width:25px;
    height:25px;
    position:absolute;
    top:25px;
    left:25px;

    z-index:10;
}

.btn-hamburger path{
    stroke:var(--portfolio-dark);

    transition-duration:0.3s;
    transition-timing-function:ease;
}

.btn-hamburger a:hover path{
    stroke:var(--portfolio-light);
}

.btn-backArrow{
    width:5.4rem;
    height:5.4rem;
    box-sizing:border-box;

    position:absolute;
    top:2.4rem;
    left:0.5rem;
}

.btn-backArrow svg{
    stroke:var(--portfolio-light);
}

.btn-backArrow svg rect{
    stroke-width:4px;
}

.btn-backArrow svg path{
    stroke-width:2px;
}

.btn-backArrow a{
    color:var(--portfolio-light);
}

.btn-backArrow:hover svg{
    stroke:white;
}

.btn-x{
    font-size:30px;
    line-height:30px;
    text-align:center;
    width:30px;
    height:30px;
    box-sizing:border-box;
    position:absolute;
    top:20px;
    right:20px;

    z-index:10;
}

.btn-x a{
    color:var(--portfolio-dark);
    transition-duration:0.3s;
    transition-timing-function:ease;
}

.btn-x a:hover{
    color:var(--portfolio-light);
}












/*********  Portfolio Images  ***********/

figure{
    margin:0;
    border:2px solid var(--portfolio-light);
    box-shadow:2px 3px 5px var(--portfolio-light);
    
    position:relative;
    overflow:hidden;
}

.portfolio-item-singleCol{
    color:var(--portfolio-dark);
    width:100%;
    box-sizing:border-box;

    margin:0 auto;
    padding:10px;
    display:block;
}

.portfolio-item-singleCol:last-child,
.row:last-child{
    padding-bottom:30px;
}

.portfolio-item-singleCol img{
    width:100%;
    height:auto;
    margin:0;
    display:block;
}

.portfolio-item-singleCol-address{
    font-size:2.5em;
    font-weight:300;
    margin:5px 0 0 10px;
    display:block;
}

.img-caption{
    font-size:22px;
    color:white;
    line-height:130%;
    display:block;

    width:100%;
    box-sizing:border-box;

    bottom:0;
    position:absolute;

    padding:20px 35px;

    background:var(--portfolio-caption);

    transform:translateY(100%);
    
    transition-duration:0.8s;
    transition-timing-function:ease;
}

figure:hover > .img-caption{
    transform:translateY(0%);
}

figure > .img-caption span{
    display:block;
    margin-bottom:0px;
}


.row{
    display:flex;
    justify-content:center;
    align-items:center;

    max-width:1450px;
    margin:0 auto;
}

.row:nth-child(2n){
    flex-direction:row-reverse;
}

.portfolio-item{
    display:block;
    padding:10px;
}

.portfolio-item:nth-child(1){
    flex:64;
}

.portfolio-item:nth-child(2){
    flex:36;
}

.portfolio-item img{
    max-width:100%;
    max-height:100%;
    display:block;
}

.portfolio-item-gameDev{
    min-height:420px;

    margin:200px 20px;
    overflow:visible;
}

.portfolio-item-gameDev:first-of-type{
    margin-top:110px;
}

.paleoGameIcon{
    background:url('images/gameDeveloper/paleoGame/PaleoGame_icon.png');
}

.abzorbIcon{
    background:url('images/gameDeveloper/abzorb/Abzorb_icon.png');
}

.dudeskiIcon{
    background:url('images/gameDeveloper/dudeski/Dudeski_icon.png');
}

.game-img{
    width:512px;
    max-width:40%;

    margin:-46px 20px 20px 1vw;
    background-size:100%;
    background-repeat:no-repeat;
    background-position:left;

    float:left;

    cursor:pointer;
}

.game-img::before{
    content:"";
    padding-top:100%;
    display:inline-block;
}

.game-title,
.game-description{
    color:var(--portfolio-black);
}

.game-title{
    font-size:5rem;
    line-height:65%;
    font-weight:500;

    padding-top:2.5rem;
    border-bottom:2px solid var(--portfolio-light);
}

.game-description{
    font-size:2.3rem;
    line-height:140%;
    font-weight:300;

    padding:4rem 7rem;
}

.btn-game-wrapper{
    text-align:center;
    margin-bottom:3rem;

    z-index:1;
}

.btn-game{
    color:var(--portfolio-black);
    font-size:2.5rem;

    padding:1rem 4rem;
    border:1px solid var(--portfolio-light);
    background:white;

    position:relative;

    transition-duration:0.3s;
    transition-timing-function:ease;

    z-index:auto;
}

.btn-game::before{
    content:"";
    
    border:inherit;

    top:0; right:0; bottom:0; left:0;
    position:absolute;

    transform:translate(5px, 5px);

    z-index:-1;
}

.btn-game:hover{
    border-color:var(--portfolio-dark);
}



/*************  About Me  *******************/


/*social links*/

.aboutMe-socialLinks-wrapper{
    text-align:center;
}

.aboutMe-socialLinks{
    padding:0;
}

.aboutMe-socialLinks li{
    display:inline-block;
    padding:20px 50px;
}

.aboutMe-socialLinks-wrapper svg{
    fill:var(--portfolio-dark);
    width:60px;
    height:60px;
    transition-duration:0.3s;
    transition-timing-function:ease;
}

.aboutMe-socialLinks-wrapper li:hover svg{
    fill:var(--portfolio-light);
}

/* Main Content */
#portfolio-aboutMe > .portfolio-main{
    text-align:center;
    font-size:2.4rem;
    padding-top:60px;
}

#portfolio-aboutMe img{
    max-width:65%;
    max-height:70%;
    border:1px solid var(--portfolio-light);
}

#portfolio-aboutMe p{
    padding:0 10% 0 10%;
}

#portfolio-aboutMe p a{
    font-weight:500;
}





/************    Lightbox    ****************/

.lightbox-back{
    width:100vw;
    height:100vh;
    box-sizing:border-box;
    
    background:#221c20;
    background:rgba(12, 11, 12, 0.8);

    display:flex;
    justify-content:space-between;
    align-items:center;

    top:0;
    left:0;
    position:absolute;


    z-index:20;
}

#btn-lightbox-left,
#btn-lightbox-right{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:9rem;
    font-weight:500;
    line-height:9rem;
    text-align:right;
    

    width:13rem;
    height:13rem;

    margin:0vw;
    padding:0;
    border:none;
    outline:none;
    background:transparent;

    cursor:pointer;
}

#btn-lightbox-right{
    text-align:left;
}

#btn-lightbox-left:hover,
#btn-lightbox-right:hover{
    color:#f58fba;
}

.hide{
    visibility:hidden;
}

.displayNone{
    display:none;
}

.lightbox-back .btn-x{
    color:white;
}

.lightbox-back .btn-x:hover{
    color:#f58fba;
}

.lightbox-back > div{
    text-align:center;

    max-width:73vw;
    max-height:80vh;
}

#lightbox-loading{
    font-size:5rem;
    color:var(--red);
    text-align:center;
    line-height:50vh;

    height:50vh;
}

.lightbox-back img, .lightbox-img{
    max-width:73vw;
    max-height:80vh;
}

#lightbox-caption{
    color:white;
    font-size:2.5rem;
    font-weight:500;
    text-align:center;

    margin:1rem 0;
}

#lightbox-thumbnail-wrapper{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}



















/*********  Media Queries  ***********/

@media (max-width:1280px){
    .game-title{
        font-size:3.4rem;
    }
}

@media (min-width:1001px){

    .portfolio-main > .btn-x{
        right:30px;
    }
    .btn-hamburger{
        display:none;
    }

    .btn-backArrow{
        display:none;
    }

    #ArtBashGraphic figure{
        background-image:url("images/illustrator/ArtBashGraphic.jpg");
        background-size:115%;
        background-repeat:no-repeat;
        background-position:50% 42%;
    }

    #Rocky figure{
        background-image:url("images/illustrator/Rocky.jpg");
        background-size:100%;
        background-repeat:no-repeat;
        background-position:50% 40%;
    }

    #PaleoGame_title figure{
        background-image:url("images/illustrator/PaleoGame_title.jpg");
        background-size:135%;
        background-repeat:no-repeat;
        background-position:right;
    }

    #ArtBashGraphic figure::before,
    #Rocky figure::before,
    #PaleoGame_title figure::before{
        content:"";
        padding-top:100%;
        display:inline-block;
    }

    #Rocky figure::before{
        padding-top:56%;
    }

    #ArtBashGraphic img,
    #Rocky img,
    #PaleoGame_title img{
        display:none;
    }

    .clickForFullImage{
        font-size:0.7em;
        font-style:italic;
    }
}

@media (max-width:1000px){

    html{
        font-size:40%;
    }

    .portfolio-nav-wrapper{
        margin-left:-26rem;
        z-index:11;
    }

    .portfolio-nav-name{
        top:-7.56rem;
    }

    .portfolio-nav-nameSlideIn{
        animation-delay:0s;
    }

    .portfolio-navSlideIn{
        animation-delay:0.2s;
    }

    .portfolio-main{
        margin:0;
        padding-top:30px;
        border:0;
        outline:1px solid var(--portfolio-dark);
        outline-offset:-10px;
    }

    .portfolio-item-singleCol{
        width:100%;
        padding:30px 20px;
        box-sizing:border-box;
    }

    figure{
        position:static;
        box-shadow:none;
    }

    #portfolio-webDesigner img{
        width:130%;
        margin-left:-15%;
    }

    #chatterbox img{
        margin-left:-5%;
    }

    .img-caption{
        color:var(--portfolio-black);
        font-size:17px;
        padding:15px 20px;
        background:white;
        border-top:1px solid var(--portfolio-dark);

        height:auto;
        position:static;

        transform:none;
    }

    figure:hover > .img-caption{
        transform:none;
    }

    .row,
    .row:nth-child(2n){
        flex-direction:column;
    }

    .portfolio-item{
        flex:1;
        max-width:100%;
        box-sizing:border-box;

        margin-top:0px;
        padding:30px 20px 0;
    }

    .portfolio-item-gameDev{
        min-height:270px;

        margin-top:100px;
        margin-bottom:30px;
    }

    #ArtBashGraphic .clickForFullImage,
    #Rocky .clickForFullImage{
        display:none;
    }

    .portfolio-item-gameDev:first-of-type{
        margin-top:80px;
    }

    .game-title{
        font-size:4.3rem;
        line-height:80%;
    }

    .game-description{
        font-size:3rem;

        padding:2rem 3rem;
    }

    .btn-game-wrapper{
        margin:4rem 0;
    }

    #lightbox-thumbnail-wrapper{
        display:none;
    }

    #portfolio-aboutMe > .portfolio-main{
        font-size:2.8rem;
    }

    .aboutMe-socialLinks-wrapper li{
        padding:20px 30px;
    }

    .aboutMe-socialLinks-wrapper svg{
        width:50px;
        height:50px;
    }

}

.test{
    background:red;
    box-sizing:border-box;
    width:512px;
    height:512px;
}