@charset "utf-8";

:root{
    --red:#AF0049;
    --grey:#947A8A;
}

*{
    transform-origin:top left;
}

body, html{
    overflow:hidden;
}

body{
    font-size:20px;
    font-family:'Oswald', sans-serif;
    font-weight:200;
    width:100%;
    height:100%;
    box-sizing:border-box;
    margin:0;
    position:relative;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.ralewayMd{
    font-family:'Raleway', sans-serif;
    font-weight:500;
}

.ralewayLt{
    font-family:'Raleway', sans-serif;
    font-weight:200;
}




/*********  Main Menu  ************/
main{
    width:650px;
    height:2000px;
    margin:40vh 50% 0;
    position:relative;
    right:325px;
    transform-origin:top center;


    --lineThickness:2px;
}

.menu-wrapper{
    height:770px;
    margin-left:-50px;
    transform:rotate(-30deg);
    overflow:hidden;
}

@keyframes margin-left-slideIn{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:0%;
    }
}

.menu-header{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease;
    animation-duration:0.9s;
    width:100%;
    font-size:100px;
    line-height:68.6px;
    margin:0;
    padding-top:10px;
    border-bottom:4px solid black;
}

.menu-header > span{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease;
    animation-duration:1.3s;
    animation-delay:0.3s;
    animation-fill-mode:forwards;
    margin-left:-100%;
    padding-left:35px;

    white-space:nowrap;
}

.menu{
    font-size:60px;
    line-height:110px;
    text-transform:lowercase;
    width:560px;
    margin-top:0;
    margin-left:610px;
    padding:0;
    transform:rotate(90deg);
    overflow:hidden;

    /* timing delay variables */
    --delaySpread: 0.25s;
    --delay1: 0.6s;
    --delay2: calc(var(--delay1) + var(--delaySpread));
    --delay3: calc(var(--delay2) + var(--delaySpread));
    --delay4: calc(var(--delay3) + var(--delaySpread));
}

.menu li{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease-in-out;
    animation-duration:0.8s;
    animation-delay:var(--delay1);
    animation-fill-mode:forwards;

    width:100%;
    height:110px;
    box-sizing:border-box;
    margin-left:100%;
    border-bottom:2px solid var(--grey);

    white-space:nowrap;
}

.menu > li:nth-child(2),
.menu > li:nth-child(2) a{
    animation-delay:var(--delay2);
}


.menu > li:nth-child(3),
.menu > li:nth-child(3) a{
    animation-delay:var(--delay3);
}


.menu > li:nth-child(4),
.menu > li:nth-child(4) a{
    animation-delay:var(--delay4);
}


.menu a{
    animation-name:margin-left-slideIn;
    animation-timing-function:ease-in-out;
    animation-duration:1.5s;
    animation-delay:var(--delay1);
    animation-fill-mode:forwards;

    color:var(--red);

    /*background:linear-gradient(to right, #947A8A, transparent 15%);*/
    background:linear-gradient(to right, #f5d7d7, #ffffff);
    background-position-x:-560px;
    background-repeat:no-repeat;

    width:100%;
    height:100%;
    display:block;

    transition-duration:0.3s;
    transition-timing-function:ease-out;
}

.menu a:hover{
    background-position-x:0px;
}

.menu a span{
    display:inline-block;
    padding:33px 0 0 20px;
}



@keyframes line-slideUp{
    0%{
        top:100%;
    }
    100%{
        top:0%;
    }
}

@keyframes line-slideRight{
    0%{
        right:100%;
    }
    100%{
        right:0%;
    }
}

@keyframes line-slideDown{
    0%{
        bottom:100%;
    }
    100%{
        bottom:0%;
    }
}

@keyframes line-slideLeft{
    0%{
        left:100%;
    }
    100%{
        left:0%;
    }
}

.lines-wrapper{
    width:2160px;
    height:2070px;
    margin:auto;
    position:relative;
    top:-1730px;
    left:-630px;
    transform:rotate(-30deg);
    transform-origin:center;
    z-index:-1;

    --lines-duration:3.5s;
    --lines-delay:1.4s;
}

.lines{
    box-sizing:border-box;
    position:absolute;
    z-index:-1;
    overflow:hidden;
}

.line-inside{
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:0px solid var(--grey);
    position:relative;
}

.line-top .line-inside{
    border-top-width:var(--lineThickness);
}

.line-left .line-inside{
    border-left-width:var(--lineThickness);
}

.line-bottom .line-inside{
    border-bottom-width:var(--lineThickness);
}

.line-right .line-inside{
    border-right-width:var(--lineThickness);
}

.line-slideUp{
    top:100%;

    animation-name:line-slideUp;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}

.line-slideRight{
    right:100%;

    animation-name:line-slideRight;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}

.line-slideDown{
    bottom:100%;

    animation-name:line-slideDown;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}

.line-slideLeft{
    left:100%;

    animation-name:line-slideLeft;
    animation-timing-function:ease-out;
    animation-duration:var(--lines-duration);
    animation-delay:var(--lines-delay);
    animation-fill-mode:forwards;
}
.lines:nth-child(3n) > div{
    animation-duration: 2.5s;
}

.lines:nth-child(4n) > div{
    animation-duration: 5s;
}

@media (max-width:1300px) and (orientation:landscape){
    main{
        transform:scale(0.67);
    }
}

@media (max-width:900px) and (orientation:portrait){
    main{
        transform:scale(0.6);
    }
}

@media (max-width:650px),
(max-width:900px) and (orientation:landscape) {
    main{
        transform:scale(0.4);
    }
}






/*********  Portfolio Sections  ************/

.portfolio{
    /*  Default colors are game dev  */
    --portfolio-black:#09090E;
    --portfolio-dark:#192E5F;
    --portfolio-light:#b3b7be;
    --portfolio-white:#F6F4FA;


    color:white;
    background:var(--portfolio-black);
    width:100vw;
    height:100vh;
    box-sizing:border-box;
    position:absolute;
    top:0vh;
    left:100vw;

    transition-duration:0.8s;
    transition-timing-function: ease;

    overflow:hidden;
}

#portfolio-illustrator{
    --portfolio-black:#161210;
    --portfolio-dark:#94320b;
    --portfolio-light:#c4b0a7;
    --portfolio-white:#fff1eb;

    top:100vh;
    left:0vw;
}

#portfolio-webDesigner{
    --portfolio-black:#11181A;
    --portfolio-dark:#01545F;
    --portfolio-light:#9FB1B3;
    --portfolio-white:#eafdff;

    top:0vh;
    left:-100vw;
}

#portfolio-aboutMe{
    --portfolio-black:#110E0E;
    --portfolio-dark:#520029;
    --portfolio-light:#ACA4A8;
    --portfolio-white:#ffecf6;

    top:-100vh;
    left:0vw;
}

.portfolio-nav-wrapper{
    border-right:1px solid var(--portfolio-light);
    background:var(--portfolio-dark);
    width:26vh;
    height:100%;
    box-sizing:border-box;
    position:relative;
    float:left;

    overflow:hidden;
}

.portfolio-nav-name{
    font-size:3.7vh;
    line-height:normal;
    text-align:center;
    width:100%;
    height:9.26vh;
    box-sizing:border-box;
    padding-top:5.6vh;
    border-bottom:2px solid var(--portfolio-light);

    position:absolute;
    top:0;
}

.portfolio-nav-lines{
    height:100%;
    margin-left:1.39vh;
    margin-bottom:6.94vh;
    padding-top:9.26vh;
    border:0 solid var(--portfolio-light);
    border-left-width:1px;
    border-bottom-width:1px;
}

.portfolio-nav{
    margin:0;
    padding-top:4.63vh;
    padding-left:2.78vh;
}

.portfolio-nav li{
    font-size:2.78vh;
    line-height:70%;
    background:linear-gradient(to right, var(--portfolio-dark), var(--portfolio-light));
    background-position-x:25.9vh;
    background-repeat:no-repeat;
    border-bottom:1px solid var(--portfolio-light);
    padding-top:3.7vh;

    transition-duration:0.3s;
    transition-timing-function: ease-out;
}

.portfolio-nav li:hover{
    background-position-x:0px;
}

.portfolio-nav a{
    color:var(--portfolio-white);
}

.portfolio-nav .btn-disabled{
    color:var(--portfolio-light);
}

.socialLinks-wrapper{
    width:100%;
    position:absolute;
    bottom:0.46vh;
}

.socialLinks{
    width:20.1vh;
    margin:0;
    margin-left:auto;
    margin-right:auto;
    padding:0;
}

.socialLinks li{
    display:block;
    margin:0.8vh;
    padding:0.8vh;
    float:left;
}

.socialLinks svg{
    fill:var(--portfolio-light);
    width:3.5vh;
    height:3.5vh;
    transition-duration:0.3s;
    transition-timing-function:ease;
}

.socialLinks li:hover svg{
    fill:var(--portfolio-white);
}

.portfolio-main{
    height:100vh;
    margin-left:26.85vh;
    border-left:1px solid var(--portfolio-light);

    overflow-y:scroll;
}

.portfolio-x{
    font-size:30px;
    position:absolute;
    top:15px;
    right:30px;
}

.portfolio-x a{
    color:var(--portfolio-light);
    transition-duration:0.3s;
    transition-timing-function:ease;
}

.portfolio-x a:hover{
    color:var(--portfolio-white);
}

@media (min-width:1001px){
    .portfolio-main > .socialLinks-wrapper{
        display:none;
    }
}

@media (max-width:1000px){
    .portfolio-nav-wrapper{
        display:none;
    }

    .portfolio-main{
        background:transparent;
        margin:0;
        outline:1px solid var(--portfolio-light);
        outline-offset:-10px;
    }
}